/*-- Definite van tabellen ---------------------------------------------------------*/
table {
    empty-cells: show;
    min-width: 90%;
    padding: 15px;
  }
  thead
  {
    background-color: gray;
    color: white;
    border-bottom: 3px solid #ddd;
  }
  tbody
  {
    vertical-align: top;
    background-color: #dddddd
  }
  td {
    min-width: 150px;
    padding: 5px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

/*----------------------------------------------------------------------------------*/
