/*-- Definite van tabellen ---------------------------------------------------------*/
table {
    empty-cells: show;
    min-width: 90%;
    padding: 15px;
  }
  thead
  {
    background-color: gray;
    color: white;
    border-bottom: 3px solid #ddd;
  }
  tbody
  {
    vertical-align: top;
    background-color: #dddddd
  }
  td {
    min-width: 150px;
    padding: 5px;
  }
  th {
    min-width: 150px;
    padding: 5px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .definitie {
    border-left-style: solid;
    border-left-width: .5em;
    border-color: #d0d0d0;
    margin-bottom: 16px;
    padding: .5em 1em;
    background-color: #f6f6f6;
  }

/*----------------------------------------------------------------------------------*/
